body{
	margin: 0px;
	overflow: hidden;
	background-color: #EEF7FF;
}
canvas{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
}
.time{
	font-family: Tahoma;
	cursor: default;
	font-weight: bold;
	-webkit-user-select: none;
	font-size: 100px;
}
.time{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #300060;
}
#icn{
	display: none;
}